<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mars Rover
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <p>Write width in px</p>
    <p><input type="number" min="100" max="1000" (keyup)="getWidthValue($event.target.value)"></p>
    <p>Write height in px</p>
    <p><input type="number" min="100" max="1000" (keyup)="getHeightValue($event.target.value)"></p>
    <p>Orders:</p>
    <p>write A (advance), L (left) or R (right)</p>
    <p><input type="text" (keyup)="getOrders($event.target.value)"></p>
    <p>Coordinates:</p>
    <p><input type="text" (keyup)="getCoord($event.target.value)"></p>
  </div>


  <div class="square" [style.width]="width" [style.height]="height">
    <app-rover class="rover"></app-rover>
  </div>
</ion-content>
