<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mars Rover
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mars Rover</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Mars Rover</strong>
    <p>The program will receive the dimensions of the square (width x height) and it assumes that the coordinate (0,0) is the bottom left corner. Additionally, will receive initial coordinates of the Rover and it’s initial orientation (N, S, E, W).</p>

    <p>Also it will receive a set of commands like the next one; “AALAARALA”.  There is not fixed limit of number of input commands. It can be assumed that there is not obstacles into the square.
      The program must validate that all the commands can be executed without be out of pre-defined initial limits and also must return True or False indicating if the commands are valid. Moreover, also must return the orientation and final coordinates of the Rover
      As example: True, N, (4,5).
    </p>
  </div>
</ion-content>
